body {
    background-color: white;
  }
  
  .form-container {
    width: 500px;
    margin: 0 auto;
    padding: 55px;
    border: 1px solid #0D6DA1 ;
    background-color: #0D6DA1 ;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: white;
  }
  
  input[type="text"], input[type="password"], input[type="tel"], input[type="email"] {
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: white;
    color: black;
  }
  
  input[type="submit"] {
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #C10A10;
    color: white;
    border: none;
  }