body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.red {
    background-color: red;
    color: white;
}

.green {
    background-color: green;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}